#!/bin/sh
#
# PROVIDE: musette
# REQUIRE: DAEMON LOGIN FILESYSTEM
# KEYWORD: SHUTDOWN

. /etc/rc.subr

name="musette"
musette_command="/usr/local/bin/${name}"
pidfile="/var/run/${name}.pid"
command="/usr/sbin/daemon"
logfile="/var/log/${name}.log"
command_args=" -u ${name} -P ${pidfile} -r -f -o ${logfile} ${musette_command}"

load_rc_config $name

run_rc_command "$1"
